name: 'test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'
  workflow_dispatch:

run-name: Test

jobs:
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run action
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          workflow: 'sample-workflow.yml'
